body {
  background-color: #F9F9F9;
  overflow: hidden;
}

::-webkit-input-placeholder {
  font-family: 'open sans light';
}

:-moz-placeholder { /* Firefox 18- */
  font-family: 'open sans light';
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'open sans light';
}

:-ms-input-placeholder {  
  font-family: 'open sans light';
}

.App {
  float: left;
  padding-left: 26vmin;
  padding-top: 4.5vmin;
  padding-bottom: 26vmin;
  height: 1017vmin;
}

.content {
  height: 100%;
  width: 100%;
  float: left;
}
